.gallery-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.searchbar {
  background-color: hsl(231, 48%, 48%);
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.button-submit {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #7387f4;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.button-submit:hover {
  background-color: #6d7ddf;
  transition: background-color 0.3s ease;
}

.input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 300px;
  margin-right: 8px;
  margin-left: 10px;
}
.input:focus , .input:active , .input:hover {
  outline: none;
  border-color: #3f51b5;
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
  background-color: #f0f0f0;
}
.button-load-more {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #3f51b5;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

}
.button-load-more:hover {
  background-color: #303f9f;
  transition: background-color 0.3s ease;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 222;
}

.modal {
  max-width: 90%;
}

.modal-image {
  display: block;
  width: 90%;
  height: auto;
}
.button-close {
  position: absolute;
  top: 86px;
  right: 125px;
  background-color: #303f9f;
  width: 50px;
  height: 30px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  border: none;
}
img{
  width: 300px;
}